<div class="person-row" [formGroup]="formGroup">
    <form-row [label]="'Name'"
              [formGroup]="formGroup"
              [ctrlName]="'name'"
              [errList]="errList">
        <input class="form-control form-row" type="text" formControlName="name">
    </form-row>

    <form-row [label]="'Company'"
              [formGroup]="formGroup"
              [ctrlName]="'company'"
              [errList]="errList">
        <input class="form-control form-row" type="text" formControlName="company">
    </form-row>

    <form-row [label]="'Position'"
              [formGroup]="formGroup"
              [ctrlName]="'position'"
              [errList]="errList">
        <input class="form-control form-row" type="text" formControlName="position">
    </form-row>

    <span class="glyphicon glyphicon-minus-sign" (click)="delete()"></span>
</div>