<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
  <div class="form-group" [ngClass]="{'has-error': hasError('name')}">
    <label class="control-label">
      <span>Full name</span>
      <input
        type="text"
        class="form-control" 
        formControlName="name"
        placeholder="Your full name">
    </label>
    <div class="help-block" *ngIf="hasError('name', 'required')">
      Name is required
    </div>
    <div class="help-block" *ngIf="hasError('name', 'minlength')">
      Name must be at least 2 charecters long.
    </div>
  </div>
  <div formGroupName="account">
    <div class="form-group" [ngClass]="{'has-error': hasError('email') || hasError('account')}">
      <label class="control-label">
        <span>Email address</span>
        <input
          type="email"
          class="form-control" 
          formControlName="email"
          placeholder="Your email address">
      </label>
      <div class="help-block" *ngIf="hasError('email', 'required')">
        Email is required
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': hasError('confirm') || hasError('account')}">
      <label class="control-label">
        <span>Confirm address</span>
        <input
          type="email"
          class="form-control" 
          formControlName="confirm"
          placeholder="Confirm your email address">
      </label>
      <div class="help-block" *ngIf="hasError('confirm', 'required')">
        You need to confirm your email
      </div>
      <div class="help-block" *ngIf="hasError('account', 'nomatch')">
        You need to confirm your email
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="user.invalid">Sign up</button>
<!-- {{ user.value | json }} -->
</form>
