.header {
    display: block;
    border: none;
    background: #f2f2e6;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-list-container {
    padding-left: 15px;
    margin-bottom: 10px;
}