<h1>Reactive Form</h1>

<div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <person-list [people]="people$ | async"
                     [formGroup]="form.controls.peopleGroup"></person-list>
        <hr>

        <!--<car-list [cars]="cars$ | async"-->
                  <!--[formGroup]="formGroup.controls.cars"></car-list>-->
        <hr>

        <!--<summary></summary>-->

        <div>
            <div class="clearfix">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>