<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="go('home')">Starter App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active': active.home}"><a (click)="go('home')">Home</a></li>
        <li [ngClass]="{'active': active.about}"><a (click)="go('about')">About</a></li>
        <li [ngClass]="{'active': active.contact}"><a (click)="go('contact')">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>