<form-row-old (onRemove)="remove()"
          (onChangeStudentType)="changeStudentType($event)">
    <div class="form-row-body" [formGroup]="formGroup">
        <div class="row">
            <form-field class="col-sm-5 col-xs-12"
                        [formGroup]="formGroup"
                        [ctrlName]="'name'"
                        [validations]="validations.name">
                <label class="form-label">Name</label>
                <input class="form-control form-widget" type="text" formControlName="name">
            </form-field>

            <form-field class="col-sm-7 col-xs-12"
                        [formGroup]="formGroup"
                        [ctrlName]="'school'"
                        [validations]="validations.school">
                <label class="form-label">College</label>
                <input class="form-control form-widget" type="text" formControlName="school">
            </form-field>
        </div>

        <div class="row">
            <form-field class="col-sm-6 col-xs-12"
                        [formGroup]="formGroup"
                        [ctrlName]="'major'"
                        [validations]="validations.major">
                <label class="form-label">Major</label>
                <input class="form-control form-widget" type="text" formControlName="major">
            </form-field>

            <form-field class="col-sm-2 col-xs-12"
                        [formGroup]="formGroup"
                        [ctrlName]="'year'"
                        [validations]="validations.year">
                <label class="form-label">Year</label>
                <select class="form-control form-widget" formControlName="year">
                    <option [value]="year" *ngFor="let year of ['1st', '2nd', '3rd', '4th', '5th', '6+']">
                        {{ year }}
                    </option>
                </select>
            </form-field>

            <form-field class="col-sm-4 col-xs-12"
                        [formGroup]="formGroup"
                        [ctrlName]="'tuition'"
                        [validations]="validations.tuition">
                <label class="form-label">Tuition</label>
                <div class="form-widget input-group">
                    <div class="input-group-addon">$</div>
                    <input class="form-control" type="text" formControlName="tuition">
                </div>
            </form-field>
        </div>
    </div>
</form-row-old>