<h1>Student Form</h1>

<div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <high-school-student-list [formGroup]="form.controls.highSchool"
                                  [students]="(students$ | async)?.highSchool"
                                  (onChangeStudentType)="changeStudentType($event)"></high-school-student-list>
        <hr>

        <college-student-list [formGroup]="form.controls.college"
                              [students]="(students$ | async)?.college"
                              (onChangeStudentType)="changeStudentType($event)"></college-student-list>
        <hr>

        <summary [isSubmittable]="isSubmittable()"></summary>
    </form>
</div>