<h1>Student Form</h1>

<div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <high-school-student-list [formGroup]="form.controls.highSchool"></high-school-student-list>
        <hr>

        <college-student-list [formGroup]="form.controls.college"></college-student-list>
        <hr>

        <!--<summary></summary>-->

        <div>
            <div class="clearfix">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>